{% load i18n %}
{% load dashboard %}

<form id="pagerForm" action="{% url "get_securitygroup_list" tenant_id %}">
    {% add_in_method 'get'%}{% csrf_token %}
    <input type="hidden" name="status" value="${param.status}">
    <input type="hidden" name="pageNum" value="{{ page_obj.number }}" />
    <input type="hidden" name="numPerPage" value="{{page_obj.paginator.per_page}}" />
</form>

<div class="pageContent listContent">
    <div class="panelBar">
        <ul class="toolBar">

            {% if page_obj.paginator.count == 10 %}
                <li style="line-height: 23px;">{% trans 'the most security group number is 10' %}</li>
            {% else %}
                <li style="line-height: 23px;">{% trans 'Security Groups' %}</li>

            {% endif %}
            <li></li>	</ul>
    </div>
    <table class="table" width="100%" layoutH="80">
        <thead>
        <tr>
            <th>{% trans "Sequence Number" %}</th>
            <th>{% trans "Tenant" %}</th>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'Description' %}</th>
{#            <th>{% trans 'action' %}</th>#}
        </tr>
        </thead>
        <tbody>
        {% for securitygroup in page_obj.object_list %}
            <tr>
                <td style="text-align: center; width: 50px;" >{{ forloop.counter }}</td>
                <td>
                {% for id,name in tenants %}
                    {% if securitygroup.tenant_id == id  %}
                        {{ name }}
                    {% endif %}
                {% endfor %}
                </td>

                <td>{{ securitygroup.name }}</td>
                <td><pre>{{ securitygroup.description }}</pre></td>

{#            <td>#}
{##}
{#                    <a  target="dialog"  href="{% url get_securitygroup_info securitygroup.id %}" tmask="true">{% trans 'securitygroup info' %}</a>#}
{#                    {% if 'default' != securitygroup.name  %}#}
{#                       <a  target="dialog"  href="{% url delete_securitygroup_index securitygroup.id %}" tmask="true" width="250" height="150">{% trans 'delete security group' %}</a>#}
{#                    {% endif %}#}
{#                    <a  target="navTab"  href="{% url edit_securitygrouprules securitygroup.id %}" rel="{% trans 'rules tab' %}" tmask="true">{% trans 'rules tab' %}</a>#}
{#                </td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="panelBar">
        <div class="pages">
            <span>{% trans 'Total' %}  {{page_obj.paginator.count}}  {% trans 'Records' %}</span>
        </div>
    </div>
</div>
