{% load i18n %}
{% load dashboard %}

<script type="text/javascript">
    $(document).ready(function (){
        if($("#project_tree_li_id_old")){
            $("#project_tree_li_id_old").val('');
        }
    });
</script>

<div class="pageContent listContent">
    <div class="panelBar">
        <ul>
            <li style="line-height: 23px;">{% trans 'Tenant' %}</li>
        </ul>
    </div>
    <table class="table" width="100%" layoutH="75">
        <thead>
        <tr>
            <th>{% trans 'Sequence Number' %}</th>
            <th>{% trans 'name' %}</th>
            <th>{% trans 'Description' %}</th>
            <th>{% trans 'Enabled' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td align="center">{{ forloop.counter | add:page_obj.sequence_number }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>
                <td>
                    {% if project.enabled %}{% trans 'True' %}
                    {% else %}{% trans 'False' %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
