{% load i18n %}
{% load dashboard %}
{% load permission %}

<form id="pagerForm" action="{% url "get_task_list" %}">
    {% add_in_method 'get'%}{% csrf_token %}
    <input type="hidden" name="status" value="${param.status}">
    <input type="hidden" name="pageNum" value="{{ page_obj.number }}" />
    <input type="hidden" name="numPerPage" value="{{ page_obj.paginator.per_page }}" />
</form>

<div class="pageContent listContent">
    <div class="panelBar">
	    <form action="{% url "get_task_list" %}"
	          onclick="return navTabSearch(this,'{% trans 'Check Manage' %}')"
	          style="width:auto;float: right">
		    <input type="hidden" name="status" value="Pending"/>
            <div class="buttonActive">
                <div class="buttonContent">
                    <button type="submit">{% trans "Pending" %}</button>
                </div>
            </div>
		    {% add_in_method 'get' %}{% csrf_token %}
	    </form>
	    <form action="{% url "get_task_list" %}"
	          onclick="return navTabSearch(this,'{% trans 'Check Manage' %}')"
	          style="width:auto;float: right">
		    <input type="hidden" name="status" value="Approve"/>
            <div class="buttonActive">
                <div class="buttonContent">
                    <button type="submit">{% trans "Approve" %}</button>
                </div>
            </div>
		    {% add_in_method 'get' %}{% csrf_token %}
	    </form>
	    <form action="{% url "get_task_list" %}"
	          onclick="return navTabSearch(this,'{% trans 'Check Manage' %}')"
	          style="width:auto;float: right">
		    <input type="hidden" name="status" value="Reject"/>
            <div class="buttonActive">
                <div class="buttonContent">
                    <button type="submit">{% trans "Reject" %}</button>
                </div>
            </div>
		    {% add_in_method 'get' %}{% csrf_token %}
	    </form>
	    <form action="{% url "get_task_list" %}"
	          onclick="return navTabSearch(this,'{% trans 'Check Manage' %}')"
	          style="width:auto;float: right">
		    <input type="hidden" name="status" value="Expired"/>
            <div class="buttonActive">
                <div class="buttonContent">
                    <button type="submit">{% trans "Expired" %}</button>
                </div>
            </div>
		    {% add_in_method 'get' %}{% csrf_token %}
	    </form>
    </div>
    <table class="table" width="100%" layoutH="75">
        <thead>
        <tr>
            <th>{% trans 'Sequence Number' %}</th>
            <th>{% trans 'Task Name' %}</th>
            <th>{% trans 'User Name' %}</th>
            <th>{% trans 'Submit Time' %}</th>
	        <th>{% trans 'Expire Time' %}</th>
	        <th>{% trans 'Status' %}</th>
	        <th>{% trans 'Level' %}</th>
	        <th>{% trans 'Action' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for task in page_obj.object_list %}

            <tr id="{{ task.uuid }}">
{#                <td align="center" width="50" upgrade="checkbox">#}
{#                    {% permission 'Check Task' %}#}
{#                    <input type="checkbox" name="check_task" value="{{ task.uuid }}"/>#}
{#                    {% endpermission %}#}
{#                </td>#}
                <td align="center">{{ forloop.counter | add:page_obj.sequence_number }}</td>
                <td>{% trans task.name %}</td>
                <td>{{ task.user_name }}</td>
                <td>{{ task.submit_time | datetime_from_utctime}}</td>
                <td>{{ task.expire_time | datetime_from_utctime}}</td>
                <td>{% trans task.status %}</td>
                <td>{{ task.level }}</td>
                <td>
                    {% if task.status == 'Pending' %}
                        {% permission 'Check Task' %}
                        <a target="dialog" title="{% trans 'Check Task' %}" href="{% url 'get_task_form' task.uuid %}" tmask="true" width="450" height="470">
                            <img src="{{ STATIC_URL }}ui/images/check_task.png" title="{% trans 'Check Task' %}"/>
                        </a>
                        {% endpermission %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="panelBar">
        <div class="pages">
            <span>{% trans 'Display' %}</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
                <option value="10"  {% if page_obj.paginator.per_page == 10 %} selected {% endif %} >10</option>
                <option value="20"  {% if page_obj.paginator.per_page == 20 %} selected {% endif %} >20</option>
                <option value="50"  {% if page_obj.paginator.per_page == 50 %} selected {% endif %} >50</option>
                <option value="100" {% if page_obj.paginator.per_page == 100 %} selected {% endif %} >100</option>
                <option value="200" {% if page_obj.paginator.per_page == 200 %} selected {% endif %} >200</option>
            </select>
            <span> {% trans 'Records' %}，{% trans 'Total' %}  {{page_obj.paginator.count}}  {% trans 'Records' %}</span>
        </div>
        <div class="pagination" targetType="navTab" totalCount="{{page_obj.paginator.count}}" numPerPage="  {{page_obj.paginator.per_page}}" pageNumShown="{{ page_obj.paginator.num_pages }}" currentPage="{{ page_obj.number }}"></div>
    </div>
</div>
