{% load i18n %}
{% load dashboard %}
{% load permission %}

<div class="pageContent listContent">
    <div class="panelBar">

        <ul>
            <li style="line-height: 23px;">{% trans 'News of floating IP' %}</li>
        </ul>
    </div>
    <table class="table" width="100%" layoutH="75">
        <thead>
        <tr>
            <th>{% trans 'IP' %}</th>
            <th>{% trans 'Instances' %}</th>
            <th>{% trans 'Pool' %}</th>
            {% permission 'Release Floating IP' or 'Disassociate IP' or 'Associate IP' %}
            <th>{% trans 'Action' %}</th>
            {% endpermission %}
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ floatingIp.ip }}</td>
                <td>
                    {% for id,name in instances %}
                        {% if floatingIp.instance_id == id  %}
                            {{ name }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ floatingIp.pool }}</td>
                {% permission 'Release Floating IP' or 'Disassociate IP' or 'Associate IP' %}
                <td>
                    {% permission 'Release Floating IP' %}
                    <a target="dialog"  href="{% url 'release_ip_index' floatingIp.id %}"
                    onclick="fip_nextUrl('/virtual_address_manage/virtualaddress/tenants/{{  tenant_id  }}/floatingips/')"
                    tmask="true"  width="250" height="150" title="{% trans 'Release Floating IP' %}">
                         <img title="{% trans 'Release Floating IP' %}" src="/static/ui/images/releaseip.png">
                    </a>
                    {% endpermission %}
                {% if None != floatingIp.instance_id  %}
                   {% permission 'Disassociate IP' %}
                       <a style="margin-left: 5px;" target="dialog"  href="{% url 'disassociate_ip_index' floatingIp.id floatingIp.instance_id %}"
                       onclick="fip_nextUrl('/virtual_address_manage/virtualaddress/tenants/{{  tenant_id  }}/floatingips/')"
                       tmask="true" width="250" height="150" title="{% trans 'Disassociate IP' %}">
                            <img title="{% trans 'Disassociate IP' %}" src="/static/ui/images/unbindvm.png">
                       </a>
                   {% endpermission %}
                {% else %}
                    {% permission 'Associate IP' %}
                        <a style="margin-left: 5px;" target="dialog"  href="{% url 'associate_ip_index' floatingIp.id %}"
                        onclick="fip_nextUrl('/virtual_address_manage/virtualaddress/tenants/{{  tenant_id  }}/floatingips/')"
                        title="{% trans 'Associate IP' %}" tmask="true" >
                            <img title="{% trans 'Associate IP' %}" src="/static/ui/images/bindvm.png">
                        </a>
                    {% endpermission %}
                {% endif %}
                </td>
                {% endpermission %}
            </tr>
        </tbody>
    </table>
</div>
