{% load i18n %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script lang="text/javascript">
        function check_release(){
            if(document.getElementById("release_id").checked == true){
                document.getElementById("release_id").value = '1';
            }else{
                document.getElementById("release_id").value = '0';
            }
        }
    </script>
        <div class="pageContent">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
            <form method="post" action="{% url "update_notice_action" %}" class="pageForm required-validate" onsubmit="return validateCallback(this,dialogAjaxDone);">
                {% include 'notice_manage/_update.html' %}
                <input type="hidden" name="uuid" value="{{ notice.uuid }}">
                <input type="hidden" name="operater_id" value="{{ notice.operater_id }}">
                <div class="pageFormContent" layouth="58">
                    <div class="unit">
                        <label>
                            {% trans "Title" %}：
                        </label>
                        <input type="text" name="title" size="30" minlength="2" maxlength="10" class="required" value="{{ notice.title }}" />
                    </div>
                    <div class="unit">
                        <label>
                            {% trans "Content" %}：
                        </label>
                        <textarea name="content" size="30" cols="28" rows="6"  minlength="6" maxlength="600"  class="required"  style="overflow-y: hidden;">{{ notice.content }}</textarea>
                    </div>
                    <div class="unit">
                        <label>
                            {% trans "Level" %}：</label>
                        <select name="level" style="font-size: 12px;">
                            <option value = '1' {% if notice.level == '1' %} selected="" {% endif %}>&nbsp;{% trans "High Level" %}&nbsp;</option>
                            <option value = '0' {% if notice.level == '0' %} selected="" {% endif %}>&nbsp;{% trans "General" %}&nbsp;</option>
                        </select>
                    </div>
                    <div class="unit">
                        <label>
                            {% trans "Whether Release" %}：
                        </label>
                        <input id="release_id" type="checkbox" name="release" {% if notice.release == '1' %} checked="" {% endif %} value="{{ notice.release }}" onclick="check_release()" />
                    </div>
                </div>
                <div class="formBar">
                    <ul>
                        <li>
                            <div class="buttonActive">
                                <div class="buttonContent">
                                    <button type="submit" value="submit">{% trans "Submit" %}</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="button">
                                <div class="buttonContent">
                                    <button type="button" class="close">{% trans "Cancel" %}</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
        </div>



