{% comment %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
        {% endfor %}
    </ul>
{% endif %}

{% if form.errors %}
    <p style="color: red;">
        Please correct the error{{ form.errors|pluralize }} below.
    </p>
{% endif %}

<form action="{% url create_user_action %}" method="post">
    <table>
        {{ form.as_table }}z
    </table>
    {% csrf_token %}
    <input type="submit" value="创建">
</form>

{{ form }}
{% csrf_token %}
{% for i in form.base_fields.keys %}
    {{ i }}
    {{ form.fields.i }}
{% endfor %}

{{ form.base_fields.keys }}

{{  form.base_fields.keys.1}}

{{ form.fields.tenant_id.choices.0.1}}
{{ form.fields.role_id.choices.0.1}}
{% endcomment %}
{% if form.errors %}
    <p style="color: red;">
        Please correct the error{{ form.errors|pluralize }} below.
    </p>
{% endif %}



















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































