{% load i18n %}
<div class="pageContent">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <form method="post" action="{% url "create_user_action" %}" class="pageForm required-validate"
          onsubmit="return validateCallback(this,dialogAjaxDone);">
        {% include 'user_manage/_create.html' %}
        <div class="pageFormContent" layouth="58">
            <div class="unit">
                <label>
                    {% trans "User Name" %}：</label>
                <input type="text" name="name" size="30" minlength="2" maxlength="10" class="required" />
            </div>
            <div class="unit">
                <label>
                    {% trans "Email" %}：</label>
                <input type="text" id="email" name="email" size="30" minlength="6" maxlength="30" class="required email" />
            </div>
            <div class="unit">
                <label>
                    {% trans "Password" %}：</label>
                <input type="password" id="password" name="password" size="30" minlength="6" maxlength="20" class="required password" />
            </div>
            <div class="unit">
                <label>
                    {% trans "Confirm Password" %}：</label>
                <input type="password" name="confirm_password"  size="30" minlength="6" maxlength="20" class="required"  equalTo="#password" />
            </div>
            <div class="unit">
                <label>
                    {% trans "Tenant" %}：</label>
                <select name="tenant_id" class="required select">
                    {% for key,value in form.fields.tenant_id.choices %}
                        <option value= {{ key }} >{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="unit">
                <label>
                    {% trans "Role" %}：</label>
                <select name="role_id">
                    {% for key,value in form.fields.role_id.choices %}
                        {% if value == 'Member' %}
                            <option value= {{ key }} selected>{{ value }}</option>
                        {% else %}
                            <option value= {{ key }} >{{ value }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        {% csrf_token %}
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit" value="submit">
                                {% trans "Submit" %}</button></div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">
                                {% trans "Cancel" %}</button></div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>
