{% load i18n %}
{% load dashboard %}
<script type="text/javascript">
    $(function(){
        $("#detach_btn").bind("click",function(){
            var old_H=$("#volume_div > form > div > .gridScroller").height();
            var th_widths = new Array();

            var $box=$("#volume_div");
            $box.children(" form ").eq(1).find(" .grid > .gridHeader > .gridThead > table > thead > tr > th").each(function (i) {
                th_widths.push($(this).width());
            });
            validateCallback($("#detach_form"),function(json){
                json.navTabId=''
                dialogAjaxDone(json);
                if(json.statusCode ==DWZ.statusCode.ok){
                    var volume_id = '{{ volume_id }}';
                    $("#volume_" + volume_id + " > td:eq(5) > div ").html('<div class="status_loading"></div>'+'{% trans 'detaching' %}');
                }
            });
        })
    })
</script>
<Table align="center" width="100%" height="100%" valign="middle">
    <tr><td align="center">
        {% trans "Are you sure to detach the volume?" %}</td></tr>
    <tr><td align="center">
        <form action="{% url "handle_detach_volume" volume_id instance_id %}" method="post" id="detach_form">
            {% csrf_token %}
            <input type="button" value='{% trans "Submit" %}' id="detach_btn" />
            <input type="button" onclick="$.pdialog.closeCurrent()" value={% trans "Cancel" %} />
        </form>
    </tr>
</Table>
