@charset "utf-8";

/**/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { padding:0; margin:0; font-size:12px; line-height:100%; font-family:Arial, sans-serif;}
ul, ol { list-style:none;}
img { border:0;}

body { margin:0; text-align:center;

    background-color: #0064b0;}

#login { display:block; width:950px; margin:0 auto; text-align:left;}
#login_header { display:block; padding-top:40px; height:80px;}
.login_logo { float:left; margin-top:10px;}
.login_info { float:left; margin-left:10px; line-height:80px; font-size:18px; color:#0088cc; font-weight: bold;}
.login_headerContent { float:right; display:block; width:280px; height:80px; padding:0 40px; background:url(../default/images/login_header_bg.png) no-repeat top right;}
.navList { display:block; overflow:hidden; height:20px; padding-left:28px;}
.navList ul { float:left; display:block; overflow:hidden;}
.navList li { float:left; display:block; margin-left:-1px; padding:0 10px; background:url(../default/images/login_list.png) no-repeat 0 5px;}
.navList a { display:block; white-space:nowrap; line-height:21px; color:#000; text-decoration:none;}
.navList a:hover { text-decoration:underline;}

/*登录开始*/
#login_wrap
{
    /*background:url(../../images/login_bg.jpg) repeat-x;*/
    width: auto;
    height: auto;
}

/*#logo*/
/*{*/
/*margin-top:200px; */
/*width:210px;*/
/*height:100px;*/
/*margin-left:30px;*/
/*background:url(../../images/logo.png) no-repeat;*/
/*}*/

#main_wrap
{
    margin:0 auto;
    background:url(../../images/client/bg_blue_big.png) no-repeat;
    width:1280px;
    height:854px;
    position:relative;
}

#main_left
{
    background:url(../../images/client/xuanchuan_big.png);
    width:687px;
    height:500px;
    /*position:relative;*/
    float:left;
    margin-top: 165px;
    margin-left: 44px;
}

#main_right
{
    background: url(../../images/client/login_bg_big.png) no-repeat;
    width: 420px;
    height: 530px;
    float:left;
    margin-top: 157px;
    margin-left:70px;
    text-align: left;
    /*position:relative;*/
    /*padding-top:180px;*/
}

#footer
{
    width:100%;
    text-align:center;
    color:#fff;
}

#login_box_title
{
    font-size:14px;
    text-align: left;
    font-weight:bold;
    margin-bottom:10px;
}

#login_box ul
{
    list-style:none;
    padding:0;
    margin:0;
}

#login_box ul li
{
    float: left;
    margin-bottom: 45px;
    width: 360px;
    position: relative;
}

#login_box ul li span
{
    color:#666;
    line-height:35px;
    float:left;
    position:relative;
}

#login_box ul li label
{
    color:#666;
    line-height:40px;
    float:left;
    position:relative;
    width:60px;
    font-size: 16px;
    margin-right: 10px;
}

.login_text {
    background: url(../../images/client/login_text_bg_big.png) no-repeat;
    width: 360px;
    height: 81px;
    margin-left: 30px;
    margin-top: 40px;
}

.login_text input
{
    border: 1px solid #C7C7C7;
    background: white url(../../images/area_input_bg.png) no-repeat;
    border-radius: 2px;
    width:200px;
    height: 30px;
    line-height: 30px;
    margin-top: 23px;
    font-size:16px;
}

.login_icon {
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 10px;
    background: url("../../images/client/login_icon_id_big.png") no-repeat;
    width: 50px;
    height: 53px;
}
.login_icon2{
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 10px;
    background: url("../../images/client/login_icon_passcode_big.png") no-repeat;
    width: 50px;
    height: 53px;
}

.login_img {
    margin-left: 9px;
    margin-top: 25px;
    background: url("../../images/client/login_btn_n_big.png") no-repeat;
    width: 402px;
    height: 160px;
}

.login_img:active {
    background: url(../../images/client/login_btn_prss_big.png) no-repeat;
}

#login_button
{
    width: auto;
    height: 40px;
    line-height: 40px;
    _margin-top: -45px;
    float:right;
}
.button_class{
    border: 0;
    /*background: url(../../images/client/button1.png) no-repeat;*/
    /*width: 108px;*/
    /*height: 40px;*/
    /*line-height: 40px;*/
    background: url(../../images/client/login_btn_n_big.png) no-repeat;
    width: 93px;
    height: 34px;
    line-height: 34px;
    cursor: pointer;
    color: #ffffff;
}

.button_class:hover{
    /*background: url(../../images/client/button2.png) no-repeat;*/
    background: url(../../images/client/login_btn_prss_big.png) no-repeat;
    color: #666666;
}
/*登录结束*/


/*错误提示开始*/
.messages
{
    height: 70px;
    float:left;
    position:relative;
}
.errorlist
{
    float:left;
    position:relative;
    color:Red;
    text-align:left;
    padding-left: 40px;
    padding-top: 15px;
    font-size: 14px;
}
.error
{
    float:left;
    position:relative;
    color:Red;
    text-align:left;
    padding-left: 40px;
    padding-top: 40px;
    font-size: 14px;
}

/*错误提示结束*/



#login_footer
{
    clear:both;
    display:block;
    margin-bottom:20px;
    padding:10px;
    border-top:solid 1px #e2e5e8;
    color:#666;
    text-align:center;
}

.input_style {
    border: 1px solid #C7C7C7;
    background: white url(../../images/area_input_bg.png) no-repeat;
    border-radius: 2px;
    line-height: 20px;
    height: 20px;
    padding:5px;
}

.green_btn {
    display: inline-block;
    background-position: 0% 0%;
    zoom: 1;
    margin: 0px;
    padding: 6px 10px;
    border: 1px solid #5c982c;
    height: auto;
    width: auto;
    float: none;
    cursor: pointer;
    background-color: #69ad31;
    background-repeat: repeat-x;
    line-height: 18px;
    font-family: helvetica, arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
    text-indent: 0;
    color: #ffffff;
    width: 100px;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 0px #000000;
    -moz-box-shadow: 0px 0px 0px #000000;
    box-shadow: 0px 0px 0px #000000;
    padding: 12px 32px;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0px 1px 2px #2e7044;
    background-image: linear-gradient(top, #6fb536, #5fa229);
    background-attachment: scroll;
}

.green_btn:hover {
    border: 1px solid #4c881d;
    color: #ffffff;
    background-color: #569720;
    background-repeat: repeat-x;
    background-image: linear-gradient(top, #60a526, #478316);
}