/*instance style*/
.instance_list_action{
    position: absolute;
    display: none;
    z-index: 2;
    width:280px;
    height: 25px;
    background-color: #ffffff;
    border: solid 1px #b8d0d6;
    text-align: center;
    padding-top: 3px;
}
a img{
    width: 17px;
    height: 17px;
    margin-top: 3px;
    text-align: center;
}