{% load i18n %}
{% load dashboard %}
{% load permission %}

<script src="{{ STATIC_URL }}ui/js/treeFun.js" type="text/javascript"></script>
<script type="text/javascript">
    var routerFlag = 1;//goto virtual_router_manage
    $(document).ready(function () {
        $("#progressBar").css("display","block");
        $("#background").css("display","block");
        var treeHtml = "";
        var userItem = [];
        $.ajax({
            type:"GET",
            url:"{% url "get_routers_projects_menu" %}",
            dataType:"json",
            global:false,
            async:false,
            success:function (data) {
                $.each(data, function (i, item) {
                    treeHtml = treeHtml + "<li>\n";
                    treeHtml = treeHtml + "<a class=\"level1\">\n";
                    if(item.project_enabled == true){
                        treeHtml = treeHtml + "<lable class=\"routerproject_tree_lable_common\"><img src=\"{{ STATIC_URL }}ui/images/icon/preso_icon_1.png\" class=\"routerproject_tree_icon_img2\"></lable>\n";
                        treeHtml = treeHtml + "<lable>";
                        treeHtml = treeHtml + "<span title=\""+item.project_name+"\" class=\"routerproject_tree_span_calss\" onclick=\"gotoRouterUrl('/virtual_router_manage/routers/tenants/"+item.project_id+"/projects/','')\">";
                        treeHtml = treeHtml + item.project_name;
                        treeHtml = treeHtml + "</span>";
                        treeHtml = treeHtml + "</lable>\n";
                        {% permission 'Add RouterProject' %}
                            treeHtml = treeHtml + "&nbsp;&nbsp;&nbsp;<lable class=\"routerproject_tree_lable_class\">";
                            treeHtml = treeHtml + "<img src=\"{{ STATIC_URL }}ui/images/icon/add.gif\" class=\"routerproject_tree_icon_img\" title=\"{% trans 'Add RouterProject' %}\" onclick=\"gotoRouterUrl('/virtual_router_manage/routers/tenants/"+item.project_id+"/createRouterDetail/"+routerFlag+"','/virtual_router_manage/routers/tenants/"+item.project_id+"/projects/')\">";
                            treeHtml = treeHtml + "</lable>\n";
                        {% endpermission %}
                    }else{
                        treeHtml = treeHtml + "<lable class=\"routerproject_tree_lable_common\"><img src=\"{{ STATIC_URL }}ui/images/icon/preso_icon2.png\" class=\"routerproject_tree_icon_img2\"></lable>\n";
                        treeHtml = treeHtml + "<lable>";
                        treeHtml = treeHtml + "<span title=\""+item.project_name+"\" class=\"routerproject_tree_span_calss\">";
                        treeHtml = treeHtml + item.project_name;
                        treeHtml = treeHtml + "</span>";
                        treeHtml = treeHtml + "</lable>\n";
                    }
                    treeHtml = treeHtml + "</a>\n";
                    routerProjectItem = item.project_routerProject;
                    var routerProjectItemLen = routerProjectItem.length;
                    if(routerProjectItemLen > 0){
                        treeHtml = treeHtml + "<ul>\n";
                        for(var j=0; j<routerProjectItemLen; j++)
                        {
                            treeHtml = treeHtml + "<li>\n";
                            treeHtml = treeHtml + "<a class=\"level1\">\n"
                            treeHtml = treeHtml + "<lable class=\"routerproject_tree_lable_common\" style=\"margin-top:3px;\"><img src=\"{{ STATIC_URL }}ui/images/icon/route_icon.png\" class=\"routerproject_tree_icon_img2\"></lable>\n";
                            treeHtml = treeHtml + "<lable>";
                            treeHtml = treeHtml + "<span title=\""+routerProjectItem[j].routerProject_name+"\" class=\"routerproject_tree_span_calss\" style=\"_width: 121px; max-width: 121px;\" onclick=\"gotoRouterUrl('/virtual_router_manage/routers/"+routerProjectItem[j].routerProject_id+"/tenants/"+item.project_id+"/getRouterProjectInfo/','')\">";
                            treeHtml = treeHtml + routerProjectItem[j].routerProject_name;
                            treeHtml = treeHtml + "</span>";
                            treeHtml = treeHtml + "</lable>\n";

                            {% permission 'Delete RouterProject' %}
                                treeHtml = treeHtml + "&nbsp;&nbsp;<lable class=\"routerproject_tree_lable_class\">";
                                treeHtml = treeHtml + "<img src=\"{{ STATIC_URL }}ui/images/icon/delete.gif\" class=\"routerproject_tree_icon_img\" title=\"{% trans 'Delete RouterProject' %}\" onclick=\"delRouterUrl('/virtual_router_manage/routers/"+routerProjectItem[j].routerProject_id+"/deleteprojectaction/','/virtual_router_manage/routers/tenants/"+item.project_id+"/projects/',1)\">";
                                treeHtml = treeHtml + "</lable>\n";
                            {% endpermission %}

                            if(routerProjectItem[j].gateway_networkId != 0)//删除gateway
                            {
                                {% permission 'Delete Gateway' %}
                                    treeHtml = treeHtml + "&nbsp;&nbsp;<lable class=\"routerproject_tree_lable_class\">";
                                    treeHtml = treeHtml + "<img src=\"{{ STATIC_URL }}ui/images/icon/g_remove.png\" class=\"routerproject_tree_icon_img\" title=\"{% trans 'Delete Gateway' %}\" onclick=\"delRouterUrl('/virtual_router_manage/routers/"+routerProjectItem[j].routerProject_id+"/delete_gateway_action/','/virtual_router_manage/routers/tenants/"+item.project_id+"/projects/',2)\">";
                                {% endpermission %}
                            {#                                        treeHtml = treeHtml + "<img src=\"{{ STATIC_URL }}ui/images/icon/edit_1.png\" class=\"routerproject_tree_icon_img\" title=\"{% trans 'del GateWay' %}\" onclick=\"openProDialog('/virtual_router_manage/routers/"+routerProjectItem[j].routerProject_id+"/delete_gateway_action/','', '', 250, 150, '' ,'#routerproject_target_url')\">";#}

                                treeHtml = treeHtml + "</lable>\n";
                            }
                            else
                            {//添加 gateway
                                {% permission 'Set Gateway' %}
                                    treeHtml = treeHtml + "&nbsp;&nbsp;<lable class=\"routerproject_tree_lable_class\">";
                                    treeHtml = treeHtml + "<img src=\"{{ STATIC_URL }}ui/images/icon/g_add.png\" class=\"routerproject_tree_icon_img\" title=\"{% trans 'Set Gateway' %}\" onclick=\"gotoRouterUrl('/virtual_router_manage/routers/"+routerProjectItem[j].routerProject_id +"/createGatewayDetail/','/virtual_router_manage/routers/tenants/"+item.project_id+"/projects/')\">";
                                    treeHtml = treeHtml + "</lable>\n";
                                {% endpermission %}
                            }



                            treeHtml = treeHtml + "</a>\n";
                            treeHtml = treeHtml + "</li>\n";
                        }
                        treeHtml = treeHtml + "</ul>\n</li>\n";
                    }else{
                        treeHtml = treeHtml + "</li>\n";
                    }
                });
                $("#ajax_routerproject_tree").html(treeHtml);
                var btn_flag = $("#tree_routerbtn_flag").val();
                if(btn_flag == "1"){
                    $(".routerproject_tree_lable_class").each(
                            function(){
                                $(this).show();
                            }
                    );
                    $(".routerproject_tree_icon_img").each(
                            function(){
                                $(this).show();
                            }
                    );
                    $("#routerproject_treeBtn_id img").attr("src","{{ STATIC_URL }}ui/images/icon/rnd_br_next_icon.png");
                    $("#routerproject_treeBtn_id img").attr("title","{% trans 'hide button' %}");
                }
                var target_url = $("#routerproject_target_url").val();
                if(target_url){
                    gotoRouterUrl(target_url,'');
                    $("#routerproject_target_url").val('');
                    $("#progressBar").css("display","none");
                    $("#background").css("display","none");
                }else{
                    $("#progressBar").css("display","none");
                    $("#background").css("display","none");
                }
            },
            error: function(xhr, ajaxOptions, thrownError){
                $("#routerproject_tree").parent().parent().html('');
                DWZ.ajaxError(xhr, ajaxOptions, thrownError);
            }
        });
    });


    function gotoRouterUrl(url,next_url){
        $("#progressBar").css("display","block");
        $("#background").css("display","block");
        $("#routerproject_target_url").val(next_url);
        if(url!=null && url!=''){
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'html',
                cache: false,
                success: function(htmlData){
                    $("#routerproject_rightDiv").html(htmlData).initUI();
                    $("#progressBar").css("display","none");
                    $("#background").css("display","none");
                },
                error: DWZ.ajaxError
            });
        }else{
            $("#progressBar").css("display","none");
            $("#background").css("display","none");
        }
    }

    function delRouterUrl(url,next_url,flag){
        $("#progressBar").css("display","block");
        $("#background").css("display","block");
        $("#routerproject_target_url").val(next_url);
        if(url!=null && url!=''){
            if(flag == 1){
                var alertHtml ='{% trans "Are you sure for deleting this router project?" %}';
                $("#delRouterAlert_id").html(alertHtml);
            }else if (flag == 2) {
                var alertHtml = '{% trans "Are you sure for deleting the gateway of this router?" %}';
                $("#delRouterAlert_id").html(alertHtml);
            }
            else if (flag == 3) {
                var alertHtml = '{% trans "Are you sure for deleting the interface of this router?" %}';
                $("#delRouterAlert_id").html(alertHtml);
            }
            $("#delRouterform_id").attr("action",url);
            $("#del_routerproject_Div").css("display","block");
            $("#progressBar").css("display","none");
            $("#background").css("display","none");
        }else{
            $("#progressBar").css("display","none");
            $("#background").css("display","none");
        }
    }

    function hideDelRouterDiv(){
        $("#del_routerproject_Div").css("display","none");
    }

    function showRouterBackground(){
        $("#progressBar").css("display","block");
        $("#background").css("display","block");
    }

    function hideRouterBackground(){
        $("#progressBar").css("display","none");
        $("#background").css("display","none");
    }

    function routerproject_switchBtn(){
        if($("#routerproject_tree_id").css("display") == "none"){
            $(".routerproject_tree_lable_class").each(
                    function(){
                        $(this).show();
                    }
            );
            $(".routerproject_tree_icon_img").each(
                    function(){
                        $(this).show();
                    }
            );
            $("#routerproject_treeBtn_id img").attr("src","{{ STATIC_URL }}ui/images/icon/rnd_br_next_icon.png");
            $("#routerproject_treeBtn_id img").attr("title","{% trans 'hide button' %}");
            $("#tree_routerbtn_flag").val('1');
        }else{
            $(".routerproject_tree_lable_class").each(
                    function(){
                        $(this).hide();
                    }
            );
            $(".routerproject_tree_icon_img").each(
                    function(){
                        $(this).hide();
                    }
            );
            $("#routerproject_treeBtn_id img").attr("src","{{ STATIC_URL }}ui/images/icon/rnd_br_prev_icon.png");
            $("#routerproject_treeBtn_id img").attr("title","{% trans 'show button' %}");
            $("#tree_routerbtn_flag").val('');
        }

    }
    function router_nextUrl(next_url){
        if(next_url!=''){
            $("#routerproject_target_url").val(next_url);
        }
    }

</script>
<style>
    .routerproject_tree_lable_class{
        width: auto;
        height: 12px;
        line-height: 12px;
        display: none;
    }
    .routerproject_tree_icon_img{
        width: 12px;
        height: 12px;
        display: none;
        margin-top: 4px;
    }
    .routerproject_tree_icon_img2{
        width: 12px;
        height: 12px;
    }
    .routerproject_tree_lable_common{
        line-height: 12px;
        font-size: 12px;
        float:left;
        margin-top: 5px;
        margin-right: 5px;
    }
    .routerproject_tree_span_calss{
        float:left;
        width: auto;
        _width: 160px;
        max-width: 160px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>

<form id="pagerForm" action="{% url "get_project_list" %}">
    {% add_in_method 'get'%}
    {% csrf_token %}
</form>

<div class="pageContent">
    <div class="tabsContent">
        <div id="routerproject_tree" layoutH="12" style="float: left;margin: 5px 0px 5px 5px;display:
                block;overflow: auto;width: 240px;border: 1px solid rgb(204, 204, 204);line-height: 21px;">
            <h2 style="width:230px; color: rgb(24, 49, 82); margin-left: 6px; margin-top: 5px; line-height: 14px;">
                <lable style="float: left;">
                    <div style="height: 16px; line-height: 16px; font-size: 12px;">
                        {% trans "Virtual Routers Manage" %}
                    </div>
                </lable>
                <lable id="routerproject_tree_id" style="float: left;" class="routerproject_tree_lable_class">
                </lable>
                <lable style="float:right;">
                    <div id="routerproject_treeBtn_id" style="cursor: pointer; width:20px; line-height: 12px; font-size: 12px;">
                        <img src="{{ STATIC_URL }}ui/images/icon/rnd_br_next_icon.png" title="{% trans "hide button" %}" style="margin-top: -2px;" class="routerproject_tree_icon_img2" onclick="routerproject_switchBtn()">
                    </div>
                </lable>
            </h2>

            <ul id="ajax_routerproject_tree" class="tree">
            </ul>
        </div>
        <div id="routerproject_rightDiv" layoutH="12" style=" width:auto; height: auto; margin-left:250px; padding-top: 4px;">


        </div>
        <div id="del_routerproject_Div" style="display: none">
            <div style="top: 100px; left: 50%; z-index: 44; height: 150px; width: 250px; margin-left: -125px;" class="dialog">
                <div oncut="return false;" onpaste="return false;" oncopy="return false;" onselectstart="return false;" class="dialogHeader">
                    <div class="dialogHeader_r">
                        <div class="dialogHeader_c">
                            <a href="#close" class="close" onclick="hideDelRouterDiv()">close</a>
                            <h1>{% trans "Delete" %}</h1>
                        </div>
                    </div>
                </div>
                <div class="dialogContent layoutBox unitBox" style="height: 111px;">
                    <table align="center" height="100%" width="100%" valign="middle">
                        <tbody>
                        <tr>
                            <td id="delRouterAlert_id" align="center">
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <form id="delRouterform_id" onsubmit="return validateCallback2(this,dialogAjaxDone);" method="post" action="">
                                    {% add_in_method 'delete'%}
                                    {% csrf_token %}
                                    <input type="submit" value="{% trans "Submit" %}">
                                    <input type="button" value="{% trans "Cancel" %}" onclick="hideDelRouterDiv()">
                                </form>
                            </td>
                        </tr>
                        </tbody></table></div>
                <div class="dialogFooter"><div class="dialogFooter_r"><div class="dialogFooter_c"></div></div></div>
                <div tar="nw" class="resizable_h_l"></div>
                <div tar="ne" class="resizable_h_r"></div>
                <div tar="n" class="resizable_h_c"></div>
                <div style="height: 300px;" tar="w" class="resizable_c_l"></div>
                <div style="height: 300px;" tar="e" class="resizable_c_r"></div>
                <div tar="sw" class="resizable_f_l"></div>
                <div tar="se" class="resizable_f_r"></div>
                <div tar="s" class="resizable_f_c"></div>
            </div>
        </div>
    </div>
</div>
