{% load i18n %}
{% load dashboard %}
<style>
    .detail_text {
        float: left;
        line-height: 21px;
        white-space: nowrap;
    }
</style>
<div class="pageContent">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <div class="pageFormContent" layouth="58">
        {% if log %}
            <div class="unit">
                <label>
                    {% trans "Module" %}：</label>

                <span class="detail_text">{% trans log.module|default:"None" %}</span>

            </div>
            <div class="unit">
                <label>
                    {% trans "Event" %}：</label>

                <span class="detail_text"> {% trans log.event|default:"None" %}</span>

            </div>

            <div class="unit">
                <label>
                    {% trans "User Name" %}：</label>
                <span class="detail_text">   {{ log.username }}</span>
            </div>
            <div class="unit">
                <label>
                    {% trans "Tenant Name" %}：</label>
                <span class="detail_text">  {{ log.tenant }}</span>
            </div>
            <div class="unit">
                <label>
                    {% trans "Created" %}：</label>
                <span class="detail_text">  {{ log.create_at | datetime_from_utctime }}</span>
            </div>
            <div class="unit">
                <label>
                    {% trans "Status" %}：</label>
              <span class="detail_text">    {% if log.status == '200' or log.status == '302' %}
                  {% trans 'Success' %}{% else %}{% trans 'fail' %}{% endif %}
              </span>
            </div>
            <div class="unit">
                <label>
                    {% trans "Content" %}：</label>

                <span class="detail_text"> {{ log.content|default:"Unknown" }}</span>

            </div>
            <div class="unit">
                <label>
                    {% trans "Is Primary" %}：</label>
                <span class="detail_text">         {% trans log.is_primary %}</span>
            </div>

        {% endif %}
    </div>

</div>


