{% load i18n %}
{% load dashboard %}

<script type="text/javascript">
    $(document).ready(function () {
        $("#progressBar").css("display","block");
        $("#background").css("display","block");
        var treeHtml = "";
        var userItem = [];
        var topologyFlag = 2 //goto network_topology
        $.ajax({
            type:"GET",
            url:"{% url "get_network_topology_menu" %}",
            dataType:"json",
            global:false,
            async:false,
            success:function (data) {
                $.each(data, function (i, item) {
                    treeHtml = treeHtml + "<li>\n";
                    treeHtml = treeHtml + "<a class=\"level1\">\n";
                    if(item.project_enabled == true){
                        treeHtml = treeHtml + "<lable class=\"network_topology_lable_common\"><img src=\"{{ STATIC_URL }}ui/images/icon/preso_icon_1.png\" class=\"networktopology_tree_icon_img2\"></lable>\n";
                        treeHtml = treeHtml + "<lable>";
                        treeHtml = treeHtml + "<span title=\""+item.project_name+"\" class=\"network_topology_span_calss\" onclick=\"gotonwtUrl('/virtual_network_topology/network/networktopologyindex/','virtual_network_topology/networktopology/')\">";
                        treeHtml = treeHtml + item.project_name;
                        treeHtml = treeHtml + "</span>";
                        treeHtml = treeHtml + "</lable>\n";
                        treeHtml = treeHtml + "&nbsp;&nbsp;&nbsp;<lable class=\"networktopology_tree_lable_class\">";
                        treeHtml = treeHtml + "<img src=\"{{ STATIC_URL }}ui/images/icon/add.gif\" class=\"networktopology_tree_icon_img\" title=\"{% trans 'Add Instance' %}\" onclick=\"gotonwtUrl('/instance_manage/images/"+topologyFlag+"','/virtual_network_topology/network/networktopologyindex/')\">";
                        treeHtml = treeHtml + "</lable>\n";
                        //add network
                        treeHtml = treeHtml + "&nbsp;&nbsp;<lable class=\"networktopology_tree_lable_class\">";
                        treeHtml = treeHtml + "<img src=\"{{ STATIC_URL }}ui/images/icon/add.gif\" class=\"networktopology_tree_icon_img\" title=\"{% trans 'Add NetWork' %}\" onclick=\"gotonwtUrl('/virtual_network_manage/network/tenants/"+item.project_id+"/createnetwork/"+topologyFlag+"','/virtual_network_topology/network/networktopologyindex/')\">";
                        treeHtml = treeHtml + "</lable>\n";
                        //add router
                        treeHtml = treeHtml + "&nbsp;&nbsp;<lable class=\"networktopology_tree_lable_class\">";
                        treeHtml = treeHtml + "<img src=\"{{ STATIC_URL }}ui/images/icon/add.gif\" class=\"networktopology_tree_icon_img\" title=\"{% trans 'Add Router' %}\" onclick=\"gotonwtUrl('/virtual_router_manage/routers/tenants/"+item.project_id+"/createRouterDetail/"+topologyFlag+"','/virtual_network_topology/network/networktopologyindex/')\">";
                        treeHtml = treeHtml + "</lable>\n";


                    }else{
                        treeHtml = treeHtml + "<lable class=\"network_topology_lable_common\"><img src=\"{{ STATIC_URL }}ui/images/icon/preso_icon2.png\" class=\"networktopology_tree_icon_img2\"></lable>\n";
                        treeHtml = treeHtml + "<lable>";
                        treeHtml = treeHtml + "<span title=\""+item.project_name+"\" class=\"network_topology_span_calss\">";
                        treeHtml = treeHtml + item.project_name;
                        treeHtml = treeHtml + "</span>";
                        treeHtml = treeHtml + "</lable>\n";
                    }

                    treeHtml = treeHtml + "</a>\n";

                });
                $("#ajax_networktopology_tree").html(treeHtml);
                var btn_flag = $("#tree_nwtbtn_flag").val();
                if(btn_flag == "1"){
                    $(".networktopology_tree_lable_class").each(
                            function(){
                                $(this).show();
                            }
                    );
                    $(".networktopology_tree_icon_img").each(
                            function(){
                                $(this).show();
                            }
                    );
                    $("#network_topologyBtn_id img").attr("src","{{ STATIC_URL }}ui/images/icon/rnd_br_next_icon.png");
                    $("#network_topologyBtn_id img").attr("title","{% trans 'hide button' %}");
                }
                var target_url = $("#networktopology_target_url").val();
                if(target_url){
                    gotonwtUrl(target_url,'');
                    $("#networktopology_target_url").val('');
                    $("#progressBar").css("display","none");
                    $("#background").css("display","none");
                }else{
                    $("#progressBar").css("display","none");
                    $("#background").css("display","none");
                }
            },
            error: function(xhr, ajaxOptions, thrownError){
                $("#network_topology").parent().parent().html('');
                DWZ.ajaxError(xhr, ajaxOptions, thrownError);
            }
        });
    });


    function gotonwtUrl(url,next_url){
        $("#progressBar").css("display","block");
        $("#background").css("display","block");
        $("#networktopology_target_url").val(next_url);
        if(url!=null && url!=''){
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'html',
                cache: false,
                success: function(htmlData){
                    $("#networktopology_rightDiv").html(htmlData).initUI();
                    $("#progressBar").css("display","none");
                    $("#background").css("display","none");
                },
                error: DWZ.ajaxError
            });
        }else{
            $("#progressBar").css("display","none");
            $("#background").css("display","none");
        }
    }

    function delnwtUrl(url,next_url,flag){
        $("#progressBar").css("display","block");
        $("#background").css("display","block");
        $("#networktopology_target_url").val(next_url);
        if(url!=null && url!=''){
            if(flag == 1){
                var alertHtml ='{% trans "Are you sure for deleting this NetWork?" %}';
                $("#delnwAlert_id").html(alertHtml);
            }else if(flag == 2){
                var alertHtml = '{% trans "Are you sure for deleting this SubNet?" %}';
                $("#delnwAlert_id").html(alertHtml);
            }else
            {
                var alertHtml = '{% trans "Are you sure for deleting this Port?" %}';
                $("#delnwAlert_id").html(alertHtml);
            }
            $("#delnwform_id").attr("action",url);
            $("#del_network_Div").css("display","block");
            $("#progressBar").css("display","none");
            $("#background").css("display","none");
            $("#networktopology_rightDiv").html("");
            $("#networktopology_target_url").val("");
        }else{
            $("#progressBar").css("display","none");
            $("#background").css("display","none");
        }
    }

    function hideDelnwtDiv(){
        $("#del_network_Div").css("display","none");
    }

    function shownwtBackground(){
        $("#progressBar").css("display","block");
        $("#background").css("display","block");
    }

    function hidenwtBackground(){
        $("#progressBar").css("display","none");
        $("#background").css("display","none");
    }

    function networkt_switchBtn(){
        if($("#network_topology_id").css("display") == "none"){
            $(".networktopology_tree_lable_class").each(
                    function(){
                        $(this).show();
                    }
            );
            $(".networktopology_tree_icon_img").each(
                    function(){
                        $(this).show();
                    }
            );
            $("#network_topologyBtn_id img").attr("src","{{ STATIC_URL }}ui/images/icon/rnd_br_next_icon.png");
            $("#network_topologyBtn_id img").attr("title","{% trans 'hide button' %}");
            $("#tree_nwtbtn_flag").val('1');
        }else{
            $(".networktopology_tree_lable_class").each(
                    function(){
                        $(this).hide();
                    }
            );
            $(".networktopology_tree_icon_img").each(
                    function(){
                        $(this).hide();
                    }
            );
            $("#network_topologyBtn_id img").attr("src","{{ STATIC_URL }}ui/images/icon/rnd_br_prev_icon.png");
            $("#network_topologyBtn_id img").attr("title","{% trans 'show button' %}");
            $("#tree_nwtbtn_flag").val('');
        }

    }
    function networkt_nextUrl(next_url){
        if(next_url!=''){
            $("#networktopology_target_url").val(next_url);
        }
    }

</script>
<style>
    .networktopology_tree_lable_class{
        width: auto;
        height: 12px;
        line-height: 12px;
        display: none;
    }
    .networktopology_tree_icon_img{
        width: 12px;
        height: 12px;
        display: none;
        margin-top: 4px;
    }
    .networktopology_tree_icon_img2{
        width: 12px;
        height: 12px;
    }
    .network_topology_lable_common{
        line-height: 12px;
        font-size: 12px;
        float:left;
        margin-top: 5px;
        margin-right: 5px;
    }
    .network_topology_span_calss{
        float:left;
        width: auto;
        _width: 160px;
        max-width: 160px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>

<form id="pagerForm" action="{% url "get_project_list" %}">
    {% add_in_method 'get'%}
    {% csrf_token %}
</form>

<div class="pageContent">
    <div class="tabsContent">
        <div id="network_topology" layoutH="12" style="float: left;margin: 5px 0px 5px 5px;display:
                block;overflow: auto;width: 240px;border: 1px solid rgb(204, 204, 204);line-height: 21px;">
            <h2 style="width:230px; color: rgb(24, 49, 82); margin-left: 6px; margin-top: 5px; line-height: 14px;">
                <lable style="float: left;">
                    <div style="height: 16px; line-height: 16px; font-size: 12px;">
                        {% trans "Newwork Topology" %}
                    </div>
                </lable>
                <lable id="network_topology_id" style="float: left;" class="networktopology_tree_lable_class">
                </lable>
                <lable style="float:right;">
                    <div id="network_topologyBtn_id" style="cursor: pointer; width:20px; line-height: 12px; font-size: 12px;">
                        <img src="{{ STATIC_URL }}ui/images/icon/rnd_br_prev_icon.png" title="{% trans "Show Button" %}" style="margin-top: -2px;" class="networktopology_tree_icon_img2" onclick="networkt_switchBtn()">
                    </div>
                </lable>
            </h2>

            <ul id="ajax_networktopology_tree" class="tree">
            </ul>
        </div>
        <div id="networktopology_rightDiv" layoutH="12" style=" width:auto; height: auto; margin-left:250px; padding-top: 4px;">


        </div>
        <div id="del_network_Div" style="display: none">
            <div style="top: 100px; left: 50%; z-index: 44; height: 150px; width: 250px; margin-left: -125px;" class="dialog">
                <div oncut="return false;" onpaste="return false;" oncopy="return false;" onselectstart="return false;" class="dialogHeader">
                    <div class="dialogHeader_r">
                        <div class="dialogHeader_c">
                            <a href="#close" class="close" onclick="hideDelnwtDiv()">close</a>
                            <h1>{% trans "Delete" %}</h1>
                        </div>
                    </div>
                </div>
                <div class="dialogContent layoutBox unitBox" style="height: 111px;">
                    <table align="center" height="100%" width="100%" valign="middle">
                        <tbody>
                        <tr>
                            <td id="delnwAlert_id" align="center">
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <form id="delnwform_id" onsubmit="return validateCallback2(this,dialogAjaxDone);" method="post" action="">
                                    {% add_in_method 'delete'%}
                                    {% csrf_token %}
                                    <input type="submit" value="{% trans "Submit" %}">
                                    <input type="button" value="{% trans "Cancel" %}" onclick="hideDelnwtDiv()">
                                </form>
                            </td>
                        </tr>
                        </tbody></table></div>
                <div class="dialogFooter"><div class="dialogFooter_r"><div class="dialogFooter_c"></div></div></div>
                <div tar="nw" class="resizable_h_l"></div>
                <div tar="ne" class="resizable_h_r"></div>
                <div tar="n" class="resizable_h_c"></div>
                <div style="height: 300px;" tar="w" class="resizable_c_l"></div>
                <div style="height: 300px;" tar="e" class="resizable_c_r"></div>
                <div tar="sw" class="resizable_f_l"></div>
                <div tar="se" class="resizable_f_r"></div>
                <div tar="s" class="resizable_f_c"></div>
            </div>
        </div>
    </div>
</div>
