{% load i18n%}
<div class="pageContent">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <form method="post" action="{% url "change_pwd" instance_id %}" class="pageForm required-validate"
          onsubmit="return validateCallback(this,dialogAjaxDone);">
        <div class="pageFormContent" layouth="58">


            <div class="unit">
                <label>
                    {% trans 'Password' %}：</label>
                <input type="password" name="password" id="password" size="30" minlength="6" maxlength="20" class="required" />
            </div>

            <div class="unit">
                <label>
                    {% trans 'Confirm Password' %}：</label>
                <input type="password" name="confirm_password" size="30" minlength="6" maxlength="20" class="required" equalTo="#password" />

            </div>

            <div class="unit" style="display: none">
                <label>
                </label>
                {{ form.name }}
            </div>

        </div>
        {% csrf_token %}
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit" value="submit">
                                {% trans "Submit" %}</button></div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">
                                {% trans "Cancel" %}</button></div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>
