{% load i18n %}
{% load dashboard %}

<Table align="center" width="100%" height="100%" valign="middle">
    <tr><td align="center">
        {% trans "Are you sure for unpausing this instance?" %}</td></tr>
    <tr><td align="center">
        <form action="{% url "instance_unpause" instance_id %}" method="post" onsubmit="return iframeCallback(this,dialogAjaxDone);">
            {% csrf_token %}
            <input type="submit" value={% trans "submit" %} />
            <input type="button" onclick="$.pdialog.closeCurrent()" value={% trans "cancel" %} />
        </form>
    </tr>
</Table>