{% load i18n %}

<script type="text/javascript">
    function changeTenant() {
        var tenant_id = document.getElementById('tenant_id').value;
        $.ajax({
            url:'{% url "change_tenant" %}',
            type:'GET',
            dataType:'json',
            data:{'tenantId':tenant_id},
            global:false,
            success:function (data) {
                $("#security_groups_div").html("<label id='sg_label'>{% trans 'Security Groups' %}：</label><ul id='security_groups_ul'></ul>");
                var ul = $('#security_groups_ul');
                $.each(data, function (i, item) {
                    var li = $("<li>").appendTo(ul);
                    var txt = ""
                    if (item[1] == "default") {
                        txt = " <label for='id_security_groups_+" + i + "'><input id='id_security_groups_" + i + "' type='checkbox' value='" + item[0] + "' name='security_groups' checked='checked'></input>" + item[1] + "</label>";
                    } else {
                        txt = " <label for='id_security_groups_+" + i + "'><input id='id_security_groups_" + i + "' type='checkbox' value='" + item[0] + "' name='security_groups' ></input>" + item[1] + "</label>";
                    }

                    li.html(txt);
                });

            },
            error:function (response) {
                console.log("get security groups error");
            }
        });
    }

    function getNetworkList() {
        var tenant_id =$('#tenant_id').val();
        $.ajax({
            url:'{% url "get_network_list" %}',
            type:'GET',
            dataType:'json',
            data:{tenantId:tenant_id},
            global:false,
            success:function (data) {
                $('#network_list').html("<label id='network_label'>{% trans 'Aviable networks' %}：</label><ul id='network_list_ul'></ul>");
                var ul = $('#network_list_ul');
                $.each(data, function (i, item) {
                    var li = $("<li>").appendTo(ul);

                    var txt = " <label for='id_networks_list_+" + i + "'><input id='id_networks_list_" + i + "' type='checkbox' value='" + item[0] + "' name='networks' ></input>" + item[1] + "</label>";
                    li.html(txt);
                });

            },
            error:function (response) {
                console.log("get security groups error");
            }
        });
    }

</script>
<script>
    function selectFun() {
        stopBubble();
        if ($("#selectContent")) {
            if ($("#selectContent").css("display") == "none") {
                $("#selectContent").show();
            } else {
                $("#selectContent").hide();
            }
        }
    }
    $(document).ready(function () {
        $(".select2optionClass").click(function () {
            $("#selectT").val($(this).attr("value"));
            $("#selectText").html($(this).attr("name"));
        });
        $(document).click(function () {
            if ($("#selectContent").css("display") == "block") {
                $("#selectContent").hide();
            }
        });
    });

    function getEventObj() {
        if (window.event) {
            return window.event;
        } else {
            var obj = getEventObj.caller;
            while (obj != null) {
                var arg = obj.arguments[0];
                if (arg) {
                    if ((arg.constructor == Event || arg.constructor == MouseEvent || arg.constructor == KeyboardEvent)
                            || (typeof(arg) == "object" && arg.preventDefault && arg.stopPropagation)) {
                        return arg;
                    }
                }
                obj = obj.caller;
            }
        }
    }
    function stopBubble() {
        var e = getEventObj();
        if (window.event) {
            e.cancelBubble = true;
        } else if (e.preventDefault) {
            e.stopPropagation();
        }
    }
</script>


<div class="unit" id="launch_image_name">
    <label>
        {% trans 'Instance Name' %}：</label>
    <input type="text" name="name_launch" size="30" class="required" minlength="2" maxlength="10"/>

</div>

<div class="unit">
    <label>
        {% trans 'Tenant' %}：</label>
    <select id="tenant_id" name="tenant_id" onchange="changeTenant();getNetworkList()" class="required select">
        {% for key,value in form.fields.tenant_id.choices %}
            {% if key == old_tenant_id %}
                <option value={{ key }} selected>{{ value }}</option>
            {% else %}
                <option value={{ key }}>{{ value }}</option>
            {% endif %}
        {% endfor %}

    </select>
</div>

<div class="unit" style="display: none">
    <label>
    </label>
    {{ form.image_id }}
</div>

<div class="unit" id="launch_image_data">
    <label>
        {% trans 'User Data' %}：</label>
    <textarea name="user_data" size="30" cols="29" minlength="6"></textarea>
</div>

<div class="unit">
    <label>
        {% trans 'Flavor' %}：</label>
    <select name="flavor" id="flavor_id">
        {% for key,value in form.fields.flavor.choices %}
            <option value={{ key }}>{{ value }}</option>
        {% endfor %}

    </select>
</div>
<div class="unit" style="display: none">
    <label>
        {% trans 'Keypair' %}：</label>
    <select name="key_pair">
        {% for key,value in form.fields.key_pair.choices %}
            <option value={{ key }}>{{ value }}</option>
        {% endfor %}

    </select>
</div>

<div class="unit" id="launch_image_count">
    <label>
        {% trans 'Instance Count' %}：</label>
    {% if form.fields.count.initial < 1 or form.fields.count.initial == '' %}
        <input type="text" name="count" size="30" value="1" />
    {% else %}
        <input type="text" name="count" size="30" value="{{ form.fields.count.initial }}"/>
    {% endif %}

</div>

<div class="unit" id="security_groups_div">
    <label>
        {% trans 'Security Groups' %}：</label>
    {{ form.security_groups }}
</div>

<div class="unit" id="network_list">
    <label>
        {% trans 'Aviable networks' %}：</label>
    {{ form.networks }}
</div>

<div class="unit" style="display: none">
    <label>
        {% trans 'Volume or Volume Snapshot' %}：</label>
    <select name="volume">
        {% for key,value in form.fields.volume.choices %}
            <option value={{ key }}>{{ value }}</option>
        {% endfor %}

    </select>
</div>
<div class="unit" style="display: none">
    <label>
        {% trans 'Device Name' %}：</label>
    {{ form.device_name }}
</div>
<div class="unit" style="display: none">
    <label>
        {% trans 'Delete on Terminate' %}：</label>
    {{ form.delete_on_terminate }}
</div>
<div class="unit" style="display: none">
        {% for key,value in form.fields.flavor_input.choices %}
            <input type="hidden" id="task_{{ key }}" value="{{ value }}" name="task_{{ key }}_{{ value }}" />
        {% endfor %}
</div>


