<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load i18n %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% trans "VRV Cloud" %}</title>
    <link href="{{ STATIC_URL }}ui/images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="{{ STATIC_URL }}ui/themes/css/login.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{{ STATIC_URL }}ui/js/jquery.1.7.2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var height = $(window).height();
            var imgHeight = 530;
            var diffH = (height - imgHeight)/2;
            if(diffH > 50){
                var footer_length = diffH - 10;
                diffH = diffH + "px";
                footer_length = footer_length + "px";
                $("#login_wrap").css("margin-top" , diffH);
                $("#footer").css("line-height" , footer_length);
            }else{
                $("#login_wrap").css("margin-top" , "50px");
                $("#footer").css("line-height" , "40px");
            }
        });
    </script>
</head>
<body>
    <form action="{% url 'authorize_login' %}" method="POST">
    <div id="login_wrap">
        <div id="main_wrap">
            <div id="main_left">
                <div id="logo">
                </div>
            </div>
            <div id="main_right">
                <div id="login_box" style="margin-top: 20px;">
                    <ul>
                        {% include 'authorize/auth/_login.html' %}
                    </ul>
                    <div id="login_button">
                        <input type="hidden" name="next" value="{{ next }}"/>
                        <input class="green_btn" type="submit" value='{% trans "login" %}' style="width:160px; height:36px; padding-top:8px;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        Copyright © 2013 北京北信源软件股份有限公司 All Rights Reserved.
    </div>
    </form>
</body>
</html>

