{% load i18n %}
{% load dashboard %}

<style>
    .quota-dynamic {
        margin-top: 10px;
        width: 80%;
        margin-left: 10px;
    }

    .right {
        float: right;
        width: 200px;
    }

    .quota_title {
        color: rgb(153, 153, 153);
        padding-bottom: 0px;
        margin-bottom: 8px;
    }

    .clearfix {
    }

    .quota_bar {
        height: 15px;
        margin: -8px 0 8px;
    }

    .progress_bar {
        height: 100%;
        width: 100%;
        border: 1px solid #CCC;
        background-color: #CCC;
    }

    .progress {
        overflow: hidden;
        height: 18px;
        margin-bottom: 18px;
        background-color: rgb(247, 247, 247);
        background-image: -moz-linear-gradient(center top, rgb(245, 245, 245), rgb(249, 249, 249));
        background-repeat: repeat-x;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
        border-radius: 4px 4px 4px 4px;
    }

    .progress-success.bar {
        background-color: rgb(94, 185, 94);
        background-image: -moz-linear-gradient(center top, rgb(98, 196, 98), rgb(87, 169, 87));
        background-repeat: repeat-x;
    }

    .progress .bar {
        width: 0%;
        height: 18px;
        color: rgb(255, 255, 255);
        font-size: 12px;
        text-align: center;
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
        background-color: rgb(14, 144, 210);
        background-image: -moz-linear-gradient(center top, rgb(20, 155, 223), rgb(4, 128, 190));
        background-repeat: repeat-x;
        box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15) inset;
        -moz-box-sizing: border-box;
        transition: width 0.6s ease 0s;
    }

    .progress_bar_selected {
        background-color: rgb(71, 144, 174);
        width: 0px;
    }

    .progress_bar_fill, .progress_bar_selected {
        height: 100%;
        float: left;
    }

    .progress_bar_fill.progress-warning.bar {
        background-color: rgb(137, 137, 137);
        background-image: -moz-linear-gradient(center top, rgb(153, 153, 153), rgb(51, 51, 51));
        background-repeat: repeat-x;
    }

    .progress .bar {
        width: 0%;
        height: 18px;
        color: rgb(255, 255, 255);
        font-size: 12px;
        text-align: center;
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
        background-color: rgb(14, 144, 210);
        background-image: -moz-linear-gradient(center top, rgb(20, 155, 223), rgb(4, 128, 190));
        background-repeat: repeat-x;
        box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15) inset;
        -moz-box-sizing: border-box;
        transition: width 0.6s ease 0s;
    }

    .progress_bar_fill {
        background-color: rgb(102, 102, 102);
    }

    .progress_bar_fill, .progress_bar_selected {
        height: 100%;
        float: left;
    }

    .cp {
        width: auto;
        float: right;
        position: relative;
        margin: 0px;
    }
    .pageFormContent div .unit{
        margin-top: 5px;margin-left: 10px;
    }

</style>

<script type="text/javascript">
    $(document).ready(function(){
        $("a[target=dialog]", $("#update_disk_resource_id")).each(function(){

            $(this).bind('click',function(event){
                var $this = $(this);
                var title = $this.attr("title") || $this.text();
                var rel = $this.attr("rel") || "_blank";
                var options = {};
                var w = $this.attr("width");
                var h = $this.attr("height");
                if (w) options.width = w;
                if (h) options.height = h;
                options.max = eval($this.attr("max") || "false");
                options.mask = eval($this.attr("mask") || "false");
                options.maxable = eval($this.attr("maxable") || "true");
                options.minable = eval($this.attr("minable") || "true");
                options.fresh = eval($this.attr("fresh") || "true");
                options.resizable = eval($this.attr("resizable") || "true");
                options.drawable = eval($this.attr("drawable") || "true");
                options.close = eval($this.attr("close") || "");
                options.param = $this.attr("param") || "";

                var url = unescape($this.attr("href")).replaceTmById($(event.target).parents(".unitBox:first"));
                DWZ.debug(url);
                if (!url.isFinishedTm()) {
                    alertMsg.error($this.attr("warn") || DWZ.msg("alertSelectMsg"));
                    return false;
                }
                $.pdialog.open(url, rel, title, options);

                return false;
            });
        });
    });

</script>
<div class="pageContent">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <div class="pageFormContent"  layouth="50" style="float: left;width: 100%;">

        <div style="width:100%;float: left">
            <div class="unit">
                <img src="{{ STATIC_URL }}ui/images/icon_1.png" width="20" height="20" />&nbsp;{% trans "Prompt" %}：
            </div>
            <div class="unit">
                {{ tenant_news }}
            </div>
        </div>

        <div class="quota-dynamic" id="progress_bar_refresh">
            {% if usages != None %}
                <div class="quota_title clearfix">
                    <strong>{% trans "Total Gigabytes" %}
                        <span>({{ usages.gigabytes.used }}GB)</span></strong>

                    <p style="width:auto;float:none;position: relative;margin: 0px;height: auto;padding: 0">
                        {% trans "Available Gigabytes" %}:{{ usages.gigabytes.quota }}GB</p>
                </div>

                <div id="quota_size" data-progress-indicator-for="volume_size"
                     data-quota-limit="{{ usages.gigabytes.quota }}"
                     data-quota-used="{{ usages.gigabytes.used }}"
                     class="quota_bar">
                    {% creeper_progress_bar usages.gigabytes.used usages.gigabytes.quota %}
                </div>

                <script type="text/javascript" charset="utf-8">
                    if (typeof horizon.Quota !== 'undefined') {
                        horizon.Quota.init();
                    } else {
                        addHorizonLoadEvent(function () {
                            horizon.Quota.init();
                        });
                    }
                </script>
            {% else %}
                {% trans 'Failed to get agency quotas!' %}
            {% endif %}
        </div>
    </div>
    <div class="formBar">
        <ul>
            <li>
                <div class="buttonActive">
                    <a target="dialog"  title="{% trans 'Update Quotas' %}" width="400" height="300" href="{% url "volume_quotas_init_page" prepare_volume_id 'update' %}" tmask="true"
                       style="text-decoration: none; padding-right: 5px;">
                        <div class="buttonContent">{% trans "update quotas" %}</div>
                    </a>
                </div>
            </li>
{#            <li>#}
{#                <div class="button">#}
{#                    <a target="dialog"  title=" " width="400" height="300" href="{% url "create_node_in_volume" prepare_volume_id %}" tmask="true"#}
{#                       style="text-decoration: none; padding-right: 5px;">#}
{#                        <div class="buttonContent">{% trans "Add Node" %}</div>#}
{#                    </a>#}
{#                </div>#}
{##}
{#            </li>#}
        </ul>
    </div>
</div>

